<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <%- include('../../common-modules/templates/custom-font', { font }) %> 
        <%- include('common-style'); %>
    </head>
    <body>
        <%- include('../../common-modules/templates/header-with-img', { title, img }); %>
        <div class="container">
            <%- include('group-title', { group }); %>

            <table>
            <% if (students.length > 0) { %>
                <%- include('diary-table-header', { isFilled, lessons, dates, isSubstitute }); %>

                <% students.forEach((student, index) => { %>
                    <%- include('diary-table-row', { index, isFilled, student, lessons, dates }); %>
                <%  }); %>
            <% }%>
            </table>
        </div>
    </body>
</html>
